@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif !important;
}

.nav-nav {
  padding: 24px 90px 24px 102px !important;
  background-color: #C80606;
}

.shop-btn {
  color: #C80606;
  background-color: #FFFFFF;
  padding: 10px 42px 10px 42px;
  border-radius: 31.91px;
  outline: none;
  border: none;
  font-weight: 600;
  &:hover {
    background-color: #ff4646c2;
    color: #FFFFFF;
    transition: 0.4s;
  }
}

.hero {
  padding: -1px 0 10px 42px;
  overflow-x: hidden !important;
}

.heero {
  overflow-x: hidden !important;
}

.bag-image {
  background-image: url(/src/assets/Group\ 20000.png);
  height: 41vw;
  width: 102%;
  background-position: center center;
  /* background-size: contain; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.hero-text {
  margin-left: 7.5rem;
  margin-top: 6rem;
}

.hero-text h1 {
  font-size: 50.5px !important;
  width: 285% !important;
  font-weight: 700 !important;
}

.hero-text p {
  color: #232323;
  font-weight: 500;
  width: 160%;
  line-height: 21.6px;
}

.hero-text button {
  background-color: #BB2526;
  border-radius: 31.91px;
  color: #FFFFFF;
  padding: 8px 45px;
  outline: none;
  border: none;
  font-weight: 600;
  &:hover {
    background-color: #ec3d3d;
    color: #fff;
    transition: 0.3s;
  }
}

.change {
  color: #C80606;
}

.trust-logo {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.lines {
  background-color: #CCCCCC;
  height: 30px;
  width: 1px;
}

.how-it-works {
  margin-left: 1rem;
  margin-right: 6rem;
}

.orders {
  display: flex;
}

.first-top {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  text-align: center;
}

.first-top h4 {
  color: #1A1A1A;
  font-weight: 600;
  font-size: 18px;
}

.first-top p {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}

.second-top {
  display: flex;
  gap: 9rem;
  margin-top: 3rem;
  text-align: center;
  margin-left: 2.9rem;
}

.second-top h4 {
  color: #1A1A1A;
  font-weight: 600;
  font-size: 18px;
}

.second-top p {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}
.choose {
  margin-left: 6rem;
  margin-right: 1rem;
}

.two-images {
  display: flex;
}

.two-images div img {
  &:hover {
  transform: scale(0.99);
  cursor: pointer;
  }
}

.last-image img {
  &:hover {
    transform: scale(0.99);
    cursor: pointer;
    }
}

.list-span {
  color: #232323;
  font-weight: 700;
  font-size: 18px;
}

.pee {
  font-weight: 500;
  color: #232323;
  font-size: 15px;
}

.pick {
  color: #C80606;
}

.why-text {
  font-weight: 800;
}

.community {
  background: url(./assets/Desktop\ -\ 11.png)  no-repeat bottom/cover;
  height: 50vw;
}

.backg-btn {
  background-color: #FFFFFF;
  color: #C80606;
  cursor: pointer;
  &:hover{
    background: #C80606;
    color: #fff;
    transition: 0.4s;
  }
  outline: none;
  border: none;
  border-radius: 31.91px;
  padding: 8px 30px;
  font-weight: 600;
  margin-top: 3rem;
}

.featured {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 4.5rem;
}
.cartcarry {
  margin-top: 3rem;
  width: 105%;
 box-shadow: 2px 2px 6px rgba(73, 69, 69, 0.5);
  background: url(./assets/Rectangle\ 54.png) no-repeat bottom/cover;
  &:hover {
    transition: all 0.2s ease-out;
    /* box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.637); */
    cursor: pointer;
    transform: scale(0.99);
  }
  height: 65vh;
  border-radius: 6px;
}

.pepper {
 margin-top: 3rem;
 width: 105%;
 background: url(./assets/Rectangle\ 54\ \(1\).png) no-repeat bottom/cover;
 &:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.637);
  cursor: pointer;
  transform: scale(0.99);
}
 height: 65vh;
border-radius: 6px;
}

.gadgets{
 margin-top: 3rem;
 width: 105%;
 &:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.637);
  cursor: pointer;
  transform: scale(0.99);
}
  height: 65vh;
  border-radius: 6px;
  background: url(./assets/Rectangle\ 54\ \(2\).png) no-repeat bottom/cover;
}

.construct {
 margin-top: 3rem;
 width: 105%;
 box-shadow: 2px 2px 6px rgba(73, 69, 69, 0.5);
 &:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.637);
  cursor: pointer;
  transform: scale(0.99);
}
  height: 65vh;
  border-radius: 6px;
  background: url(./assets/Rectangle\ 54\ \(3\).png) no-repeat bottom/cover;
}

.cart-shop {
  outline: none;
  border: none;
  background: #C80606;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: #C80606;
    transition: 1s;
  }
  font-weight: 600;
  padding: 7px 35px;
  border-radius: 20px;
}

.pepper-shop {
  outline: none;
  border: none;
  background: #fff;
  color: #C80606;
  &:hover{
    background-color: #C80606;
    color: #fff;
    transition: 2s;
  }
  font-weight: 600;
  padding: 7px 35px;
  border-radius: 20px;
}
.footy {
  background: #F7F7F7;
  padding: 2px;
}

.footer-section{
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 4rem;
}

.footer-top{
  display: flex;
  justify-content: space-between;
}

.socials{
  display: flex;
  gap: 1rem;
  margin-top: 12px;
  cursor: pointer;
}

.form-form {
  margin-top: 12px;
  display: flex;
}

.form-form input {
  border: 1px solid #E6E6E6;
  padding: 9px 24px 9px 24px;
  border-radius: 46px;
  background: #FFFFFF;
  margin-right: -40px;
  outline: #fff;
}

.form-form button {
  background: #C80606;
  color: #fff;
  outline: none;
  padding: 10px 24px 10px 24px;
  border-radius: 46px;
  border: none;
}

.footer-logo {
  padding-top: 3.5rem;
}

.main-main {
  background-color: #1A1A1A;
}

.foot-main{
  color: #999999;
  display: flex;
  gap: 6.93rem;
  margin-left: 5rem;
  margin-right: 4rem;
  border-bottom: 2px solid #333333;
  padding-bottom: 40px;
}

.footer-cont {
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between !important;
}

.footer-cont div h4 {
  color: #FFFFFF;
}

.numb {
  display: flex;
  gap: 14px;
}

.bottom-bottom {
  margin-top: 30px;
  display: flex;
  margin-left: 4.8rem;
  margin-right: 4rem;
  justify-content: space-between;
}
.bottom-pay {
  display: flex;
  gap: 8px;
}


@media screen and (max-width: 992px) {
  .heero {
    overflow-x: hidden !important;
  }

  .hero {
    overflow-x: hidden !important;
  }

  .navbar {
    padding: 20px 20px !important;
  }

  .hero-text h1 {
    font-size: 32px !important;
    width: 100% !important;
    font-weight: 700 !important;
}

.hero-text button {
  margin: 0 -10px !important;
  width: 100% !important;
}

.bag-image {
  height: 35vh !important;
  image-rendering: auto;
  margin-top: 25px;
  width: 100% !important;
}

.lines {
  display: none;
}

.book-book {
  margin-left: 20px;
}
.orders {
  display: block !important;
}

.how-image {
  width: 100% !important;
  margin-left: -2px !important;
}

.choose {
  margin-left: 16px !important;
  margin-right: 18px !important;
}

.two-images {
  display: block !important;
}

.last-image {
  margin-left: 0 !important;
}
.last-image img {
  width: 100% !important;
  margin-top: 45px !important;
}

.two-images div img {
  width: 100% !important;
}

.navvy {
  padding: 5px 0 !important;
}

.shop-btn {
  margin-top: 5px !important;
}

#choosy {
  margin-top: 15px !important;
}
.how-it-works {
  margin-right: 0 !important;
}

.second-top {
  margin-left:  0 !important;
  gap: 2rem !important;
}

.trust-logo {
  display: grid !important;
  grid-template-columns: repeat(2, 2fr);
  text-align: center;
}

.navbar-collapse {
  text-align: center !important;
}

.hero-text p {
  width: 100% !important;
  line-height: 20.6px !important;
  font-size: 17px !important;
}

  .hero-text {
    margin-left: 20px !important;
    margin-top: 40px !important;
}

  br {
    display: none !important;
  }

  .account {
    margin-top: 16px !important;
  }

  .bottom-bottom {
    display: block;
    margin-left: 16px;
    margin-right: 16px;
}

.join {
  margin-left: 0 !important;
}

.commy {
  text-align: center;
  padding-top: 45px !important;
  font-size: 18px !important;
}

.backg-btn {
  margin-top: 2px !important;
}

.down-p {
  text-align: center;
  font-size: 14px;
}
.bottom-pay {
  justify-content: center;
  padding-bottom: 20px;
}

.footer-section {
  margin-top: 2rem;
  margin-left: 16px;
  margin-right: 16px;
}

.footer-top {
  display: block;
}

.socials {
  gap: 3rem;
  justify-content: center;
  margin: 20px 0;
}

.form-form input {
  width: 100%;
}

.form-form button {
  margin-top: 16px;
  width: 100%;
}

.form-form {
  display: block;
}
.sub {
  font-size: 26px;
}

.featured {
  margin-left: 14px;
  margin-right: 30px;
}
  .foot-main {
    display: block;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/* Media query for both Google Nest Hub and Nest Hub Max */
@media (min-width: 1024px) and (max-width: 1024px) and (min-height: 600px) and (max-height: 600px) {

  br {
    display: none !important;
  }
  .hero-text h1 {
    font-size: 29px !important;
}
.hero-text p {
  font-size: 15px !important;
  width: 260% !important;
}

.hero-text button {
padding: 8px 24px !important;
width: 200% !important;
}

.trust-logo {
  gap: 2rem !important;
}

#push {
  margin-left:  60px;
}

.second-top {
  margin-left: 0 !important;
}

.last-image {
margin-left: 5.9rem !important;
}

.choose {
margin-left: 3rem !important;
margin-right: 0 !important;
}

.two-images {
margin-left: -39px !important;
}

.foot-main {
display: flex !important;
gap: 4.93rem !important;
}
}


@media 
  (min-width: 1280px) and (max-width: 1280px) and (min-height: 800px) and (max-height: 800px) {
    .hero-text h1 {
      font-size: 45px !important;
  }
  .hero-text p {
    font-size: 15px !important;
}

.hero-text button {
  padding: 8px 24px !important;
}

.last-image {
  margin-left: 5.9rem !important;
}

.choose {
  margin-left: 3rem !important;
  margin-right: 0 !important;
}

.two-images {
  margin-left: -39px !important;
}

.foot-main {
  display: flex !important;
  gap: 4.93rem !important;
}
  /* Your CSS rules for both devices */
}



@media screen and (max-width: 1600px) {
  .hero {
    overflow-x: hidden !important;
  }
  .nav-nav {
    overflow-x: hidden !important;
  }
}